page-home {
    ion-content#join{
        #canvas{
            background-color: #f3f3f3;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 20px;
        }
        
    }
}
